<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Contact</h2>
    <% contact.forEach(function(file) { %>
      <form action="/contact/update/<%=file._id%>/<%=file.photo%>" name="reCap" method="post" class="contact-form"
        enctype="multipart/form-data">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="image/<%= file.photo %>" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">
              <%= file.name %>
            </h4>
            <p class="card-text">
              <%= file.contact %>
            </p>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->

            <div class="form-group">
              <label for="image">
                <%=file.photo%>
              </label>
              <input type="file" id="image" name="image" value="" required />
              <!-- <label for="file" class="custom-file-label">Choose File</label> -->
            </div>

            <!-- <div name="captcha" class="g-recaptcha" data-sitekey="6LdCBNEfAAAAAC5s5Y39VI13u0PwvP0J56JQr9b8" ></div> -->
            <div class="form-group">
              <input type="submit" class="btn btn-md btn-outline-secondary mt-2" value="Update Image">
            </div>
      </form>
  </div>
  <% }) %>

    </div>
    <br>
</body>

</html>